h1,
h2,
h3 {
	color: rgb(234, 234, 234);
	transition: all 0.2s ease-in-out;
}
h1:hover,
h2:hover,
h3:hover,
p:hover {
	color: white;
}

h1 {
	font-weight: 400;
	margin-top: 4rem;
	margin-bottom: 1.5rem;
	font-size: 3.2rem;
	line-height: 1;
}

h2 {
	font-weight: 400;
	margin-top: 2.1rem;
	margin-bottom: 0;
	font-size: 2.2rem;
	line-height: 1;
}

h3 {
	font-weight: 400;
	font-size: 1.7rem;
	margin-top: 2rem;
	margin-bottom: 0;
	line-height: 1;
}

h1:hover::after {
	content: ' #';
	opacity: 0.4;
}
h2:hover::after {
	content: ' ##';
	opacity: 0.4;
}
h3:hover::after {
	content: ' ###';
	opacity: 0.4;
}

ol,
ul {
	display: block;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 4%;
	/* padding-left: 2px; */
}
ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}
li::marker {
	color: rgb(123, 169, 248);
}
li:hover {
	color: white;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
	transition: color 0.1s ease-in-out;
}

p,
ol,
ul {
	font-size: 1.3rem;
	color: rgb(158, 158, 158);
}

p {
	line-height: 2rem;
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
	padding-right: 0;
	vertical-align: baseline;
	transition: color 0.1s ease-in-out;
}

/* end chapter epigraphs styles */

blockquote {
	border-left: 4px solid #cccccc;
	font-size: 1.4rem;
	font-style: italic;
	margin: 2rem 0;
	padding-left: 2rem;
	padding-right: 2rem;
}

blockquote p {
	padding-bottom: 6px;
}

blockquote footer {
	font-size: 1.1rem;
	text-align: right;
}

figure {
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	margin: 0 0 3em 0;
}

figcaption {
	float: right;
	clear: right;
	margin-right: -48%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.1rem;
	line-height: 1.6;
	vertical-align: baseline;
	position: relative;
}

figure.fullwidth figcaption {
	margin-right: 24%;
}
a {
	color: rgb(50, 107, 205);
	transition: color 0.1s ease-in-out;
}
a:hover {
	color: rgb(125, 172, 255);
}

pre {
	color: rgb(158, 158, 158);
	margin: 10px;
	background-color: rgb(23, 11, 45);
	padding: 10px;
	border-radius: 10px;
	padding-left: 2.5%;
	overflow-wrap: break-word;
}

table {
	border-collapse: collapse;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 1.125rem;
	margin: 2rem 0;
}

th {
	border-bottom: 2px solid #cccccc;
	font-weight: normal;
	padding: 0.4em 0.8em;
}

td {
	padding: 0.4em 0.8em;
}
